services:
  SetBasicAuth:
    image: httpd:latest
    restart: no
    command: >
      sh -c "cat > /config/users.yml << EOF
        http:
          middlewares:
            auth:
              basicAuth:
                users:
                  - '$(htpasswd -nBb $$USER $$PASSWORD)'"
    environment: # CHANGE THESE AND MOVE THEM TO A .env FILE!
      - "USER=Admin"
      - "PASSWORD=123456"
    volumes:
      - "Config:/config"
  
  Traefik:
    image: traefik:latest
    depends_on:
      GenerateCerts:
        condition: service_completed_successfully
    restart: unless-stopped
    command:
      - "--log.level=DEBUG"
      - "--api.dashboard=false" # enable for traefik dashboard 
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--providers.file.watch=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entryPoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--entryPoints.websecure.http.tls=true"
      - "--entrypoints.websecure.asDefault=true"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "TLSCerts:/certs:ro"
      - "Config:/etc/traefik/dynamic:ro"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.localhost`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls=true"
    
  SetTlsLocation:
    image: httpd:latest
    restart: no
    command: >
      sh -c "cat > /config/tls.yml << EOF
        tls:
          stores:
            default:
              defaultCertificate:
                certFile: /certs/local.crt
                keyFile: /certs/local.key"
    environment:
      - "USER=Admin"
      - "PASSWORD=123456"
    volumes:
      - "Config:/config"
  
  GenerateCerts:
    image: alpine/openssl
    depends_on:
      SetTlsLocation:
        condition: service_started
    restart: no
    command: req -x509 -nodes -days 365 -newkey rsa:2048 -keyout certs/local.key -out certs/local.crt -subj "/CN=*.localhost"
    user: root
    volumes:
      - "TLSCerts:/certs"
  
  WolfLeash:
    image: wolfleash
    depends_on:
      SetBasicAuth:
        condition: service_completed_successfully
      Traefik:
        condition: service_started
    restart: unless-stopped
    build:
      context: .
      dockerfile: WolfLeash/Dockerfile
    volumes:
      - "/etc/wolf/cfg/wolf.sock:/etc/wolf/cfg/wolf.sock:rw"
      - "/etc/wolf/covers:/etc/wolf/covers:r"
      - "/etc/wolf/profile-data:/etc/wolf/profile-data:r"
      - "Database:/app/WolfLeash/:rw"
      - "Keys:/root/.aspnet/DataProtection-Keys"
    environment:
      - "DOTNET_ENVIRONMENT=Production"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.wolfleash.loadbalancer.server.port=8080"
      - "traefik.http.routers.wolfleash.rule=Host(`wolfleash.localhost`)"
      - "traefik.http.routers.wolfleash.entrypoints=websecure"
      - "traefik.http.routers.wolfleash.tls=true"
      - "traefik.http.routers.wolfleash.middlewares=auth@file"

volumes:
  Keys: {}
  Database: {}
  TLSCerts: {}
  Config: {}