@using NSwagWolfApi
@using WolfLeash.Components.Classes
@inject Api Api
@inject WolfLeashDbContext Context

<ConfirmDialog @ref="dialog" />

<EditProfileApps Profile="@Profile" @ref="_profileApps"></EditProfileApps>

<br>
<Button Color="ButtonColor.Success" @onclick="@OnSaveClicked">Save</Button>
<Button Color="ButtonColor.Danger" @onclick="@OnDeleteClicked">Delete</Button>

@code {
    private ConfirmDialog dialog = default!;
    private EditProfileApps? _profileApps;
    
    [Parameter, EditorRequired] public EventCallback OnProfilesModified { get; set; }
    [Parameter, EditorRequired] public Profile Profile { get; set; }
    
    [Inject] protected EventLogger EventLogger { get; set; } = default!;

    private async Task OnSaveClicked()
    {
        Profile.Apps = _profileApps?.profileApps ?? Profile.Apps;
        await Api.UpdateProfile(Profile.Id, Profile);

        var addedDbApps = Context.Apps
            .AsEnumerable()
            .Where(dbApp =>
                Profile.Apps.AsEnumerable().Any(a => a.Id == dbApp.AppId)
            )
            .ToList();

        Context.Apps.RemoveRange(addedDbApps);
        await Context.SaveChangesAsync();

        EventLogger.LogEvent(new ToastMessage(ToastType.Info,
                "",
                "Information",
                $"{DateTime.Now}",
                $"Updated Profile: {Profile.Name}."
            )
        );
    }
    
    private async Task OnDeleteClicked()
    {
        var parameters = new Dictionary<string, object>();
        //var profile = (await Api.GetProfiles()).FirstOrDefault(p => p.Id == Profile.Id);
        
        var options = new ConfirmDialogOptions
        {
            YesButtonText = "DELETE",
            YesButtonColor = ButtonColor.Danger,
            NoButtonText = "CANCEL",
            NoButtonColor = ButtonColor.Secondary
        };
        
        parameters.Add("Profile", Profile);
        var confirmation = await dialog.ShowAsync<ProfileDeletionDialog>(
            title: "Are you sure you want to delete this Profile?",
            parameters: parameters,
            confirmDialogOptions: options);
        if (!confirmation) return;
        
        // Todo: Check for orphaned Apps and save them for eventual reuse.
        
        await Api.DeleteProfile(Profile.Id);
        await Api.UpdateProfiles();
        await OnProfilesModified.InvokeAsync();
        EventLogger.LogEvent(new ToastMessage(ToastType.Info,
            "",
            "Information",
            $"{DateTime.Now}",
            $"Deleted Profile: {Profile.Name}."
            )
        );
    }
}