@using NSwagWolfApi
@using NSwagWolfApi_App = NSwagWolfApi.App
@inject WolfApi.Api Api
@inject WolfLeashDbContext Context

<Accordion @ref="appsAccordion"
           OnShowing="OnShowingAsync">
        <AccordionItem Title="Apps" Name="Apps">
            <Content>
                <div class="row">
                    <div class="col">
                        <h4>Profile's Apps</h4>
                        <SortableList TItem="NSwagWolfApi_App"
                                      Group="@Profile.Id"
                                      Handle=".bb-sortable-list-handle"
                                      Name="empList1"
                                      Data="profileApps"
                                      Context="item"
                                      OnUpdate="OnProfileListUpdate"
                                      OnRemove="OnProfileListRemove"
                                      EmptyText="Profile has currently no Apps">
                            <ItemTemplate>
                                <div class="d-flex justify-content-start">
                                    <div class="bb-sortable-list-handle pe-2"><Icon Name="IconName.GripVertical" /></div>
                                    <div>@item.Title</div>
                                </div>
                            </ItemTemplate>
                        </SortableList>
                    </div>
                    <div class="col">
                        <h4>All Apps</h4>
                        <SortableList TItem="NSwagWolfApi_App"
                                      Group="@Profile.Id"
                                      Handle=".bb-sortable-list-handle"
                                      Name="empList2"
                                      Data="allApps"
                                      Context="item"
                                      Pull="SortableListPullMode.Clone"
                                      OnUpdate="OnAppListUpdate"
                                      OnRemove="OnAppListRemove"
                                      AllowSorting="false"
                                      EmptyText="No Apps found. Add some.">
                            <ItemTemplate>
                                <div class="d-flex justify-content-start">
                                    <div class="bb-sortable-list-handle pe-2"><Icon Name="IconName.GripVertical" /></div>
                                    <div>@item.Title</div>
                                </div>
                            </ItemTemplate>
                        </SortableList>
                    </div>
                </div>
            </Content>
        </AccordionItem>
</Accordion>

@code {
    [Parameter, EditorRequired] public Profile Profile { get; set; }
    private Accordion appsAccordion = default!;
    
    public List<NSwagWolfApi_App> profileApps = null!;
    public List<NSwagWolfApi_App> allApps = null!;

    protected override Task OnInitializedAsync()
    {
        profileApps = Profile.Apps.ToList() ?? [];
        return Task.CompletedTask;
    }

    private async void OnShowingAsync()
    {
        allApps ??= (await Api.GetProfiles()).SelectMany(p => p.Apps).Distinct().ToList() ?? [];
        allApps.AddRange(Context
            .Apps
            .Include(a => a.Runner)
            .ToList()
            .Select(a => a.ToDto()));
    }
    
    private void OnProfileListUpdate(SortableListEventArgs args)
    {
        var itemToMove = profileApps[args.OldIndex];

        profileApps.RemoveAt(args.OldIndex);

        if (args.NewIndex < profileApps.Count)
            profileApps.Insert(args.NewIndex, itemToMove);
        else
            profileApps.Add(itemToMove);
    }

    private void OnAppListUpdate(SortableListEventArgs args)
    {
        var itemToMove = allApps[args.OldIndex];

        allApps.RemoveAt(args.OldIndex);

        if (args.NewIndex < allApps.Count)
            allApps.Insert(args.NewIndex, itemToMove);
        else
            allApps.Add(itemToMove);
    }

    private void OnProfileListRemove(SortableListEventArgs args)
    {
        profileApps.Remove(profileApps[args.OldIndex]);
    }

    private void OnAppListRemove(SortableListEventArgs args)
    {
        // get the item at the old index in list 2
        var item = allApps[args.OldIndex];

        profileApps ??= [];
        if (args.NewIndex <= profileApps.Count - 1)
        {
            profileApps.Insert(args.NewIndex, item);
        }
        else
        {
            profileApps.Add(item);
        }
        // add it to the new index in list 1
        
    }
}