@page "/Profiles/Show"
@implements IDisposable
@inject Api Api
@attribute [StreamRendering]

<AddProfileModal @ref="@_modal" OnProfilesModified="OnProfilesModified"/>

<div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center">
    <h3>Profiles</h3>
    <Button Color="ButtonColor.Primary" @onclick="AddNewProfile">Add Profile</Button>
</div>

@if (Profiles is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <Accordion>
        @foreach (var profile in Profiles)
        {
            <AccordionItem Title="@profile.Name" Name="@profile.Name">
                <Content>
                    <EditProfile Profile="@profile" OnProfilesModified="OnProfilesModified"></EditProfile>
                </Content>
            </AccordionItem>
        }
    </Accordion>
}

@code {
    [Inject] protected EventLogger EventLogger { get; set; } = null!;
    private List<NSwagWolfApi.Profile>? Profiles { get; set; } = null!;
    private AddProfileModal _modal = null!;
    
    protected override async Task OnInitializedAsync()
    {
        if (Api.Profiles == null)
        {
            await Api.UpdateProfiles();
        }

        Profiles = Api.Profiles.ToList();
        Api.ProfilesUpdatedEvent += OnProfilesUpdated;
    }

    private async Task OnProfilesUpdated(object? caller, ICollection<NSwagWolfApi.Profile> profiles)
    {
        Profiles = profiles.ToList();
        await InvokeAsync(StateHasChanged);
    }

    private async Task AddNewProfile() => await _modal.ShowAsync();
    private async Task OnProfilesModified() => await Api.UpdateProfiles();

    public void Dispose()
    {
        Api.ProfilesUpdatedEvent -= OnProfilesUpdated;
    }
}