@page "/Apps/Show"
@implements IDisposable
@inject Api Api
@inject WolfLeashDbContext Context

<div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center">
    <h3>Apps</h3>
    <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/apps/add" >Add</Button>
</div>

@if (Apps is null)
{
    <Spinner />
}
else
{
    @foreach (var group in Apps.Chunk(ColumnSize))
    {
        <AppCardGroup Apps="@group" GroupSize="ColumnSize" />
    }
}


@code {
    [Parameter, EditorRequired] public int ColumnSize { get; set; } = 7;
    private List<NSwagWolfApi.App>? Apps { get; set; } = null;
    //private ConfirmDialog dialog = default!;

    protected override async Task OnInitializedAsync()
    {
        if (Api.Profiles is null)
            await Api.UpdateProfiles();

        await OnProfilesUpdated(this, Api.Profiles.ToList());
        Api.ProfilesUpdatedEvent += OnProfilesUpdated;
    }

    private async Task OnProfilesUpdated(object caller, ICollection<NSwagWolfApi.Profile> profiles)
    {
        Apps?.Clear();
        
        Apps = profiles.SelectMany(p => p.Apps)
            .DistinctBy(a => a.Id)
            .ToList();

        var dbApps = Context
            .Apps
            .Include(a => a.Runner)
            .ToList()
            .Select(a => a.ToDto());

        Apps.AddRange(dbApps);

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Api.ProfilesUpdatedEvent -= OnProfilesUpdated;
    }
}