@page "/Apps/Show"
@implements IDisposable
@inject WolfApi.Api Api
@inject WolfLeashDbContext Context


<h3>Apps</h3>
<Button Color="ButtonColor.Primary" @onclick="AddNewApp">Add</Button>

@if (Apps is null)
{
    <Spinner />
}
else
{
    @foreach (var group in Apps.Chunk(ColumnSize))
    {
        <AppCardGroup Apps="@group" GroupSize="ColumnSize" />
    }
}


@code {
    [Parameter, EditorRequired] public int ColumnSize { get; set; } = 6;
    private List<NSwagWolfApi.App>? Apps { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        if (Api.Profiles is null)
            await Api.UpdateProfiles();

        OnProfilesUpdated(Api.Profiles.ToList());
        Api.ProfilesUpdatedEvent += OnProfilesUpdated;
    }

    private async void OnProfilesUpdated(List<NSwagWolfApi.Profile> profiles)
    {
        Apps?.Clear();
        Apps = profiles.SelectMany(p => p.Apps)
            .DistinctBy(a => a.Id)
            .ToList();

        var dbApps = Context
            .Apps
            .Include(a => a.Runner)
            .ToList()
            .Select(a => a.ToDto());

        Apps.AddRange(dbApps);

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Api.ProfilesUpdatedEvent -= OnProfilesUpdated;
    }

    private async Task AddNewApp()
    {
        var newApp = new DbApp
        {
            Title = "Test",
            AppId = "test123456",
            Runner = new Runner
            {
                Name = "TEST",
                Image = "",
                Mounts = [],
                Env = [],
                Devices = [],
                Ports = [],
                BaseCreateJson = ""
            },
            RenderNode = ""
        };

        if (Api.Profiles is null)
            await Api.UpdateProfiles();

        if (Api.Profiles.SelectMany(p => p.Apps).Distinct().Any(a => a.Id == newApp.AppId))
        {
            Console.WriteLine("Caught: App already Exists");
            return;
        }

        Context.Apps.Add(newApp);

        try
        {
            await Context.SaveChangesAsync();
        }
        catch (UniqueConstraintException)
        {
            Console.WriteLine("App already Exists");
        }

        var apps = Context.Apps.ToList();
        foreach (var app in apps)
        {
            Console.WriteLine($"{app.Id} {app.Title} {app.AppId}");
        }

        OnProfilesUpdated(Api.Profiles.ToList());
    }
}