@page "/Clients/Pairing"
@implements IDisposable
@using NSwagWolfApi
@using WolfLeash.Components.Pages.Clients.SubComponent
@inject Api Api

<h3>Pairing Requests</h3>

@if (PairRequests is null)
{
    <div>
        <Spinner />
    </div>
}
else if (PairRequests.Count <= 0)
{
    <a>No pending pair requests found!</a>
}
else
{
    @foreach (var request in PairRequests)
    {
        <PairPinInput Client="@request" OnClientPaired="@GetPairingRequests" />
    }
}

@code {
    private List<PendingPairClient>? PairRequests { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (PairRequests is null)
        {
            await GetPairingRequests();
        }
        Api.PairRequestEvent += OnClientPairRequestEvent;
    }

    private async Task OnClientPairRequestEvent(object? caller, string json)
    {
        await GetPairingRequests();
        await InvokeAsync(StateHasChanged);
    }

    private async Task GetPairingRequests()
    {
        var result = await Api.WolfApi.PendingAsync();
        PairRequests = result?.Requests.ToList() ?? [];
    }

    public void Dispose()
    {
        Api.PairRequestEvent -= OnClientPairRequestEvent;
    }
}