@page "/Clients/Paired"
@using NSwagWolfApi
@using WolfLeash.Components.Pages.Clients.SubComponent
@inject Api Api
@inject WolfLeashDbContext Context

<h3>Paired Clients:</h3>
@if (Clients is null)
{
    <Spinner />
}
else
{
    <Accordion>
    @foreach (var client in Clients)
    {
        <AccordionItem Name="@client.Id">
        <TitleTemplate>
            <AccordionTitleEdit Client="@client" />
        </TitleTemplate>
        <Content>
            @*<ClientSettings Client="@ApiClients.First(c => c.Client_id == client.Id)" />*@
            <div style="display:flex; flex-direction: row; justify-content: left; align-items: center">
                <Button @onclick="() => UnpairClient(client)" Color="ButtonColor.Danger">Unpair</Button>
            </div>
        </Content>
        </AccordionItem>
    }
    </Accordion>
}

@code {
    private List<Client>? Clients { get; set; }
    private ICollection<PairedClient> ApiClients { get; set; } = null!;

    private async Task UpdateDisplayedClients()
    {
        var result = await Api.WolfApi.ClientsAsync();
        ApiClients = result?.Clients ?? [];

        foreach (var apiClient in ApiClients)
        {
            var dbClient = Context.Clients.FirstOrDefault(c => c.Id == apiClient.Client_id);
            if (dbClient is null)
            {
                Context.Clients.Add(new Client
                {
                    Id = apiClient.Client_id,
                    Alias = ""
                });
            }
            await Context.SaveChangesAsync();
        }

        Clients = Context.Clients
            .ToList()
            .Where(c =>
                ApiClients.Any(pc => pc.Client_id == c.Id)
            )
            .ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateDisplayedClients();
    }

    private async Task UnpairClient(Client client)
    {
        await Api.WolfApi.Client2Async(new UnpairClientRequest()
        {
            Client_id = client.Id
        });

        await UpdateDisplayedClients();
    }
}