@inject Api Api
@inject WolfLeashDbContext Context

<ConfirmDialog @ref="dialog" />

<Card Class="mb-4" Style="width:18rem;">
    <CardHeader>
        <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center">
            <a>@App.Title</a>
            <a @onclick="ConfirmAppDeletion"><Icon Name="IconName.Trash" Color="IconColor.Danger"/></a>
        </div>
    </CardHeader>
    @if (icon is not null && icon != "")
    {
        <img src="@icon" alt="placeholder"/>
    }
    else if(icon == "")
    {
        <img src="/default-icon.png" alt="placeholder"/>
    }
    else if(icon is null)
    {
        <div class="d-flex justify-content-center">
            <Spinner />
        </div>
    }

    <CardFooter>
        <AppOwners App="@App" />
    </CardFooter>
</Card>

@code {
    [Parameter, EditorRequired] public NSwagWolfApi.App App { get; set; }
    private string? icon;
    private ConfirmDialog dialog = default!;

    protected override async Task OnInitializedAsync()
    {
        await SetAppIcon();
    }

    private async Task ConfirmAppDeletion()
    {
        var confirmation = await dialog.ShowAsync(
            title: "Are you sure you want to delete this App?",
            message1: "This will delete the App from all Profiles using it, and removes all tracking about it.",
            message2: "Do you want to proceed?");

        if (confirmation)
        {
            await App.Delete(Api, Context);
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task SetAppIcon()
    {
        var stream = await Api.GetIcon(App);
        if (stream is null)
        {
            icon = "";
            return;
        }

        var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        var byteArray = ms.ToArray();
        var b64String = Convert.ToBase64String(byteArray);
        icon = "data:image/png;base64," + b64String;
    }
}