@inject WolfApi.Api Api

<Card Class="mb-4" Style="width:18rem;">
    <CardHeader>
        <div style="display:flex; flex-direction: row; justify-content: stretch; align-items: center">
            <div>
                <a>@App.Title</a>
            </div>
            @if (AppOwners?.Profiles is null || AppOwners.Profiles.Count <= 0)
            {
                <div style="justify-content: right">
                    <Icon Name="IconName.Trash" Color="IconColor.Danger" />
                </div>
            }
        </div>
    </CardHeader>
    @if (icon is not null && icon != "")
    {
        <img src="@icon" alt="placeholder"/>
    }
    else if(icon == "")
    {
        <img src="/default-icon.png" alt="placeholder"/>
    }
    else if(icon is null)
    {
        <div class="d-flex justify-content-center">
            <Spinner />
        </div>
    }

    <CardFooter>
        <AppOwners @ref="@AppOwners" App="@App" />
    </CardFooter>
</Card>

@code {
    [Parameter, EditorRequired] public NSwagWolfApi.App App { get; set; }
    private string? icon;
    private AppOwners? AppOwners;

    protected override async Task OnInitializedAsync()
    {
        await SetAppIcon();
    }

    private async Task SetAppIcon()
    {
        var stream = await Api.GetIcon(App);
        if (stream is null)
        {
            icon = "";
            return;
        }

        var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        byte[] byteArray = ms.ToArray();
        var b64String = Convert.ToBase64String(byteArray);
        icon = "data:image/png;base64," + b64String;
    }
}