@using NSwagWolfApi
@using App = NSwagWolfApi.App
@inject Api Api
@inject WolfLeashDbContext Context

@if (Profiles == null)
{
    <Spinner />
}
else
{
    @foreach (var profile in Profiles)
    {
        <Badge Color="BadgeColor.Success" VisuallyHiddenText="">
            @profile.Name
            <a @onclick="@(_ => RemoveAppFromProfile(profile))">
                <Icon Name="IconName.XCircle"/>
            </a>
        </Badge>
    }
}

@code {
    [Inject] protected EventLogger EventLogger { get; set; } = null!;
    [Parameter, EditorRequired] public App App { get; set; } = null!;
    public List<Profile>? Profiles = null;

    private async Task RemoveAppFromProfile(Profile profile)
    {
        EventLogger.LogEvent(new ToastMessage(ToastType.Warning, "", "Profile edited", $"{DateTime.Now}", $"Removed {App.Title} from {profile.Name}"));
        profile.Apps.Remove(App);
        profile.Apps = profile.Apps.Where(p => p.Id != App.Id).ToList();

        await Api.UpdateProfile(profile.Id, profile);

        Profiles = Api.Profiles!.Where(p => p.Apps.Any(a => a.Id == App.Id)).ToList();

        if (Profiles.Count <= 0)
        {
            await SaveUnusedAppToDb(App);
        }

    }

    private async Task SaveUnusedAppToDb(App app)
    {
        Context.Apps.Add(App);
        
        try
        {
            await Context.SaveChangesAsync();
            await InvokeAsync(StateHasChanged);
        }
        catch (UniqueConstraintException e)
        {
            if (e.ConstraintName == "AppId")
            {
                app.Id = $"{app.Id}_tmp";
                await SaveUnusedAppToDb(app);   
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (Api.Profiles is null)
        {
            await Api.UpdateProfiles();
        }

        Profiles = Api.Profiles
            .Where(p =>
                p.Apps.Any(a => 
                    a.Title == App.Title &&
                    a.Icon_png_path == App.Icon_png_path &&
                    a.Runner.Base_create_json == App.Runner.Base_create_json &&
                    a.Runner.Name == App.Runner.Name &&
                    a.Runner.Image == App.Runner.Image &&
                    a.Runner.Type == App.Runner.Type &&
                    a.Runner.Devices.SequenceEqual(App.Runner.Devices) &&
                    a.Runner.Mounts.SequenceEqual(App.Runner.Mounts) &&
                    a.Runner.Env.SequenceEqual(App.Runner.Env) &&
                    a.Runner.Ports.SequenceEqual(App.Runner.Ports)
                )
            )
            .ToList();
        
        //Profiles = Api.Profiles.Where(p => p.Apps.Contains(App)).ToList();
    }
}