@page "/counter"
@using NSwagWolfApi
@rendermode InteractiveServer


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    [Inject] 
    private NSwagWolfApi Api { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Api.Add2Async(new Profile()
        {
            Name = "Test",
            Id = "id",
            Icon_png_path = "",
            Apps = []
        });
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}